.loginpage-component {
    width: 80%;
    height: 100%;
    padding: 0 10% 0 10%;
    margin: 5vh 0 5vh 0;
    text-align: center;
}

.button {
    margin: 12px;
    width: 256px;
}

.dialogContent {
    font-size: 14px;
    text-align: center;
}
